/* .slick-track {
    max-width: 100%;
    overflow-x: hidden;
} */

@font-face {
    font-family: 'Gill Sans';
    src: url('../assets/fonts/GillSans.woff2') format('woff2'),
    url('../assets/fonts/GillSans.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('../assets/fonts/TrajanPro-Regular.woff2') format('woff2'),
    url('../assets/fonts/TrajanPro-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Optima';
    src: url('../assets/fonts/Optima.woff2') format('woff2'),
    url('../assets/fonts/Optima.woff') format('woff');
    font-weight: 400;
}


